#help
  #main
    %div
      %h3 FAQ
      %p#help_close &times;
    %p.question What's going on??
    %p.answer
      See the 
      %a{:href => "/about"} about
      page.
    %p.question Why aren't the pictures showing up?
    %p.answer Sometimes, the CAS login doesn't properly communicate with Yale's picture database. To solve this, simply log out and log back in.
    %p.question This piece of crap doesn't work / this is awesome!!
    %p.answer
      For any hugs or bugs, please email
      %a{:href => "mailto:faiaz.khan@yale.edu"} faiaz.khan@yale.edu.
      Thanks!
