#help
  #main
    %div
      %h3 FAQ
      %p#help_close &times;
    %p.question What's going on??
    %p.answer
      See the 
      %a{:href => "/about"} about
      page.
    %p.question Why aren't the pictures showing up?
    %p.answer Sometimes, the CAS login doesn't properly communicate with Yale's picture database. To solve this, try refreshing the page. If that doesn't work, simply log out and log back in.
    %p.question I accidentally made my roommate / suitemate / loved one Joe a lesbian! How can I change my screw's gender or sexual preferences if I made a mistake the first time?
    %p.answer For security purposes, you only get one chance to specify someone else's gender and sexual preferences. The only person who can change Joe's information is Joe himself—and he has the final say. If you made a mistake, get in touch with Joe, direct him to Screw Me Yale and tell him to update his preferences in the Profile panel.
    %p.question This piece of crap doesn't work / this is awesome!!
    %p.answer
      For any hugs or bugs, please email
      %a{:href => "mailto:rafi.khan@yale.edu"} rafi.khan@yale.edu.
      Thanks!
