.span6#main
  %h2 About
  %p Screw Me Yale was created for the 2012 Yale College Council App Challenge. 
  %p Any Yale undergrad can easily find screw dates for any other undergrad--with their permission--for any residential college or Freshman screw dance.
  %p Page not finished -- check back a bit later for more!
  -#
    %img.screenshot{:src => "/assets/ss1.png"}
    %img.screenshot{:src => "/assets/ss2.png"}

  #bbottom
    %span.pull-right 
      By 
      %a{:href => "//faiazkhan.com", :target => "_blank"} Rafi Khan