.span6#main
  %h2 About
  %p
    %b Screws
    are dances at Yale where you don't find your own date -- instead, your roommate sets you up. While fun and often hilarious, Screws present a large coordination problem that some simply don't have time to deal with.
  %p 
    To help, there's Screw Me Yale. 
  %p 
    %b Step 1:
    Sign in and 'screw' your roommate.
  %p 
    %b Step 2:
    Browse the matches that SMY recommends for him or her. You can filter those results by those who have a similar party intensity, or who are going to the same event. 
  %p 
    %b Step 3:
    If you see someone who's a good fit for your screw-ee, click their name to send 
    %b their roommate
    a request. If you both think your screw-ees are good for each other, then the match is made!
  %br
  %p 
    Screw Me Yale 
    %a{:href=> ""} placed 3rd
    in the 2012 Yale College Council App Challenge!
  %p Screenshots to come soon!
  -#
    %img.screenshot{:src => "/assets/ss1.png"}
    %img.screenshot{:src => "/assets/ss2.png"}

  #bbottom
    %span.pull-right 
      By 
      %a{:href => "//faiazkhan.com", :target => "_blank"} Rafi Khan