.span6#main
  %h2 Welcome to the best screw experience of someone else's life.
  %div{:style=>"padding: 20px; text-align: center; border: 1pt solid #888; color: #970b0a;"}
    %h1 This site is live! 
    %p
      %b
        If you screw someone, they 
        %span{:style => "text-decoration: underline;"} will get an email
        and others will see the people you set up on the "screw market". 
  %br
  - if flash[:error]
    .alert.alert-error.fade.in
      %a.close{"data-dismiss" => "alert"} &times;
      #{flash[:error]}
  - if flash[:success]
    .alert.alert-success.fade.in
      %a.close{"data-dismiss" => "alert"} &times;
      #{flash[:success]}
  - if session[:cas_user]
    %h1= "Logged in as #{session[:cas_user]}"
  %p We know Screw season can be a hard time for everybody—-the frantic searches, the desperate conversations with strangers, the last-minute, pleading phone calls.
  %p 
    Well now, you can make sure that at least your roommate has a great time at screw, and save yourself a lot of hassle. With 
    %a{:href => "/"} Screw Me Yale
    you can find and match screw dates easier than ever.
  #bottom
    %a.btn.btn-success{:href => "/auth"} CAS Login
  #bbottom
    %a.pull-left{:href => "/about", :style=> "margin-right: 10px;"} About
    %a.pull-left{:href => "http://www.yaledailynews.com/news/2012/oct/05/new-app-eases-screw-season-pains/?cross-campus", :target =>"_blank"} Press
    %span.pull-right 
      By 
      %a{:href => "//faiazkhan.com", :target => "_blank"} Rafi Khan