.past_request
  %p 
    You sent a request from your screw
    %b= r.from.screw.fullname
    to 
    %b= r.to.screw.fullname
    for
    %b= r.from.event
    and
    - if r.accepted == true
      %b{:style => "color: green"} it was accepted!
    - elsif r.accepted == false
      %b{:style => "color: red"} it was rejected. :(