%p{:style => "text-align: justify;"} To exciting and well-paired screws for everybody!
%a{:href=> "http://screwmeyale.com"}
  %img{:alt => "Screw Me Yale", :height => "30px;", :src => "http://screwmeyale.com/assets/screwmeyale.png", :style => "vertical-align: text-bottom; margin-bottom: 10px;"}