!!!

%html
  %body
    %h2 Hey #{@user.nickname}!
    %p 
      #{@screwer.fullname} is now setting you up on 
      %a{:href => "//screwmeyale.com"} screwmeyale.com
      ! 
    %p 
      If you'd like to stop him/her, go 
      %a{:href => "//screwmeyale.com/#screwers"} here.
    %p To exciting and well-paired screws!
    %br
    %p Rafi Khan
    %p Creator, Screw Me Yale

