/*
 *= require_self
 *= require_tree .

*/

body {
  background-image: url("/assets/night.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  background-attachment: fixed;
}

h6 {
  font-size: 14px;
  margin-bottom: 5px;
}
/*
.round {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
*/
.crimson {
  color: crimson;
  display: inline-block;
  cursor: pointer;
  &:hover {
    color: orange;
  }
}

.big {
  font-size: 120%;
  line-height: 140%;
}

.small {
  line-height: 160%;
}

.tiny {
  font-size: 80%;
}
