.client {
  display: inline-block;
  margin: 0px;
  margin-right: 10px;
  min-width: 190px;
  max-width: 400px;

  .client_body {
    margin: 5px;
    margin-left: 0px;
    padding: 10px; 
    border: 1pt solid silver;
    background-color: #FCFCFC;
  }

  .client_info {
    width: 50%; 
    font-size: 12px; 
    line-height: 15px;
  }

  .big {
    margin-bottom: 5px;
  }
}

.blue-glow:hover {
  box-shadow: 0pt 0pt 3pt 0pt rgba(22, 67, 115, 0.8);
}
.red-glow:hover {
  box-shadow: 0pt 0pt 3pt 0pt rgba(222, 27, 15, 0.7);
}

.match {
  
  text-overflow: ellipsis;
  display: inline-block;
  width: 185px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px;
  vertical-align: top;
}

.match_image {
  float: left; 
  margin-right: 10px;
  width: 75px;
}

.match_link {
  color: #164373;
  &:hover {
    color: #024EAC;
  }
}

#client_input {
  height: 30px;
  padding: 4px;
  width: 300px;
  font-size: 120%;
}