<!DOCTYPE html>
<html>
<head>
  <title>Screw Me Yale</title>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="/assets/favicon.ico" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="span10 offset1">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
